// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$logo-color: #504C67;
$light: #8B84B3;
$dark: #433880;
$logo-color-L: rgba(80, 76, 103, 0.3);
$logo-color-M: rgba(80, 76, 103, 0.5);
$logo-color-D: rgba(80, 76, 103, 0.8);
$light-L: rgba(139, 132, 179, 0.3);
$light-M: rgba(139, 132, 179, 0.5);
$light-D: rgba(139, 132, 179, 0.8);
$dark-VL: rgba(67, 56, 128, 0.1);
$dark-L: rgba(67, 56, 128, 0.3);
$dark-M: rgba(67, 56, 128, 0.5);
$dark-D: rgba(67, 56, 128, 0.8);
