<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner_pic_v1.jpeg" %>')">
  <div class="container">
    <div class="sm_container">
      <h1>TryIt helps you to <strong>try</strong> you car before you <strong>Buy</strong>!</h1>
      <p>Find and try a car in your region based on preference criteria.</p>
      <%= render "shared/search-bar", cars: @cars %>
    </div>

  </div>
</div>
