<div class="container">

  <div class="card-trips d-flex p-3">

    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Sports car</h2>
          <p>Discover all cars available !</p>
        </div>
      </div>
    </div>

    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Exotic car</h2>
          <p>Discover all cars available !</p>
        </div>
      </div>
    </div>

    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Vintage car</h2>
          <p>Discover all cars available !</p>
        </div>
      </div>
    </div>

  </div>

  <div class="card-2trips-center d-flex justify-content-center">
    <div class="card-2trips d-flex p-3">

      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Family car</h2>
            <p>Discover all cars available !</p>
          </div>
        </div>
      </div>

      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Urban car</h2>
            <p>Discover all cars available !</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
