.cards-list {
  display: flex;
  align-items: top;
  justify-content: space-around;
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  grid-gap: 20px;
}

.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  color:white;
  border-radius: 5px;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  position: relative;
}

.card:hover {
  backface-visibility: hidden;
  perspective: 600px;
  -webkit-transform:scale(1.1); -moz-transform:scale(1.1); -ms-transform:scale(1.1); -o-transform:scale(1.1); transform:scale(1.1);
  cursor: pointer;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

.card-category {
  position: absolute;
  top: -3px;
  left: -6px;
  padding: 5px;
  font-size: 10px;
  border-radius: 2px;
}

#family {
  background-color: #726a95;
}

#sports {
  background-color: blue;
}

#urban {
  background-color: green;
}

#vintage {
  background-color: red;
}

#exotic {
  background-color: orange;
}

.card-text {
  color: white;
  text-decoration: none;
}

.card-text:hover {
  color: white;
  text-decoration: none;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #map {
    display: none;
  }
}

.price {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 4px;
  margin: 0px;
  border-radius: 2px;
  border: 0.3px solid white;
  background-color: rgba(0,0,0,0.1)
}

.price p {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color:white;
}

.text-decoration:hover {
  text-decoration: none;
}

.rating {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px;
  margin: 0px;
  font-size: 12px;
}

