.card-title {
  font-size: 24px;
}

.card-title h1 {
  font-size: 24px;
  font-weight: bold;
}

.photo-description {
  display: flex;
}

.car-photo {
  border-radius: 10px;
  width: 50%;
}

#photos {
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  grid-gap: 13px;
  padding-left: 13px;
}

.car-photos {
  border-radius: 10px;
  background-size: cover;
  height: 48%;
}


.owner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  display: flex;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 24px;
}

.car-description {
  width: 50%;
}

.infos {
  border-top: 1px solid rgb(221,221,221);
  border-bottom: 1px solid rgb(221,221,221);
}

.car-booking {
  background-color: white;
}

