.item-a {
  grid-area: photo1;
}

.item-b {
  grid-area: photo2;
}

.item-c {
  grid-area: photo3;
}

.item-d {
  grid-area: photo4;
}

.item-e {
  grid-area: photo5;
}

.test {
  display: grid;
  grid-template-columns:  50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "photo1 photo1 photo2 photo3"
    "photo1 photo1 photo4 photo5";
}


.card-title {
  font-size: 24px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.card-title h1 {
  font-size: 24px;
  font-weight: bold;
}

.card-rating h3 {
  font-size: 20px;
}

.photo-description {
  display: flex;
}

.car-photo {
  border-radius: 10px;
  width: 50%;
}

#photos {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  grid-gap: 13px;
  padding-left: 13px;
}

.car-photos {
  border-radius: 10px;
  background-size: cover;
  height: 100%;
}


.owner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  display: flex;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 24px;
}

.car-description {
  width: 50%;
}

.infos {
  border-top: 1px solid rgb(221,221,221);
  border-bottom: 1px solid rgb(221,221,221);
}

.car-booking {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reviews {
  margin: 20px 100px;
  padding: 10px;
  background-color: white;
}

.review p {
  text-align:left;
  align-items: center;
  font-size: 15px;
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2)
}



