.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  display: flex;
  align-items: center;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .brand {
  display: flex;
  align-items: flex-end;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h1 {
  color: $logo-color;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.navbar-lewagon p {
  margin: 0px;
  padding: 0px;
}


.navbar-lewagon .fa-car-side {
  color: $logo-color;
  margin: 0px;
  padding: 0px;
  opacity: 90%;
}

.navbar-lewagon a {
  color: $logo-color;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.navbar-lewagon .cartouche {
  padding: 5px;
  border-radius: 30px;
  border: 1px #666470 solid;
  display: flex;
  align-items: center;
  background-color: white;
  opacity: 80%;
}

.navbar-lewagon .cartouche a {
  color: black;
  font-style: 16px;
}
