.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h1 {
  color: $logo-color;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.navbar-lewagon .fa-car-side {
  color: $logo-color;
}

.navbar-lewagon a {
  margin: 0px;
  padding: 0px;
}
