.navbar-lewagon-fixed {
  justify-content: space-between;
  background: white;
  display: flex;
  align-items: center;
  transition: 0.5s background-color ease;
}


.navbar-lewagon-fixed .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-fixed .brand {
  display: flex;
  align-items: flex-end;
    &:hover {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  }
}

.navbar-lewagon-fixed .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-fixed h1 {
  color: $logo-color;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.navbar-lewagon-fixed p {
  margin: 0px;
  padding: 0px;
}


.navbar-lewagon-fixed .fa-car-side {
  color: $logo-color;
  margin: 0px;
  padding: 0px;
  opacity: 90%;
}

.navbar-lewagon-fixed a {
  color: $logo-color;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}


.navbar-lewagon-fixed .cartouche {
  padding: 5px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px $logo-color-L solid;
}

.navbar-lewagon-fixed .cartouche a {
  color: black;
  font-style: 16px;
  text-decoration: none !important;
}

.navbar-lewagon-fixed .dropdown-menu {
border-radius: 8px;
border-color: white;
margin: 10px;
opacity: 90%;
font-size: 12px;
font-weight: lighter;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  a {
    padding: 10px;
    font-size: 12px;
    font-weight: bolder;
    color: $dark;
  }
}

.navbar-lewagon-fixed .nav-item .fa-sign-in-alt {
  margin: 0px 5px;
  color: $logo-color;
  padding: 0px;
  font-size: 36px;
}

.navbar-lewagon-fixed .nav-item .fa-solar-panel {
  margin: 0px 10px;
  color: $logo-color-L;
  padding: 0px;
  font-size: 25px;
}
