<div class="container">
  <h4><strong><%= car.brand %></strong></h4>
  <p><em><%= car.address %><em></p>
    <div class="map-border">
      <p><%= car.user.first_name%> <%= car.user.last_name%></p>
    </div>
</div>


