<h1>Cars</h1>
<p><% @cars.each do |car| %></p>
  <%= car.category %> |  <%= car.brand %> | <%= car.model %>

<% end %>

<div class="container">
    <div class="cards">
    <% @cars.each do |car|%>
        <%= link_to car.model, car_path(car), class:"card-category-text" %>
      </div>
    <% end %>
    </div>
</div>

<img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1Ijoibmljb2siLCJhIjoiY2s5azZpeXFjMTA5NTNxcTZ0dmRqYzJ5byJ9.qwSn_A22cNAy65DeZy5Q8g'>
